version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: safe_bazaar
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  backend:
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - node_modules:/app/node_modules

volumes:
  pgdata:
  node_modules:
